<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393378890865-fmgdjdsnfbq03q946nknfi7riqn6l44p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393378890865-fmgdjdsnfbq03q946nknfi7riqn6l44p</string>
	<key>API_KEY</key>
	<string>AIzaSyDX0tgk6MIlPOQ3UYJhiJOc5gpfD8iT3Jc</string>
	<key>GCM_SENDER_ID</key>
	<string>393378890865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vietdq.casino</string>
	<key>PROJECT_ID</key>
	<string>casino-14e57</string>
	<key>STORAGE_BUCKET</key>
	<string>casino-14e57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393378890865:ios:99f1ded80a5212224a07d0</string>
</dict>
</plist>